* {
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
	scroll-behavior: smooth;
}

/*===== Bakery Font =====*/
@font-face {
	font-family: 'Bakery';
	src: url('../assets/fonts/bakery.ttf') format('truetype');
}

/*===== Navigasi =====*/
.navigasi {
	background: #55423d;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 18px;
	width: 100%;
	padding: 0px 10px 0px 10px;
	z-index: 3;
}
.navigasi li {
	list-style: none;
	overflow: hidden;
	display: inline-block;
}
.navigasi a li {
	border-radius: 5px;
	color: white;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	margin: 0px 10px 0px 10px;
	text-align: center;
}
.left-nav a li {
	font-family: 'Bakery'; 
	font-size: 30px;
}
.right-nav a li:hover {
	background: #ffc0ad; 
	color: black;
}

.left-nav {width: 50%;}
.right-nav {width: 50%; text-align: right;}

.active {background: #ffc0ad; color: black !important;}
.responsive {display: none; float: right;}
.dump-nav {padding: 30px;}

/*===== Specific Page (index.html) =====*/
.main-part {
	background: url('../assets/img/bgMain.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: white;
}
.dim-bg {
	background: rgba(0,0,0,0.5);
	position: absolute;
	height: 100vh;
	width: 100%;
}
.main-text {z-index: 2;}

/*===== All Pages =====*/
.light-theme-part {background: #ffc0ad;}
.dark-theme-part {background: #ffb59f;}

.pg-title {
	font-size: 25px;
	border-bottom: 2px solid black;
	text-align: center;
	padding-bottom: 5px;
	width: 220px;
}
.card-box {
	background: white;
	border-radius: 10px;
	padding: 20px;
}
.card-img img {
	border-radius: 10px;
	width: 100%;
	object-fit: cover;
	height: 160px;
}

.p-left {width: 60%;}
.p-right {width: 40%; text-align: right;}

.star {color: orange;}

.arrow-button {
	background: #ffc0ad;
	border: 1px solid #55423d;
	border-radius: 50%;
	cursor: pointer;
	font-size: 30px;
	width: 50px;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 2%;
	right: -50%;
	transition: .4s;
}
.arrow-button:hover {background: #ffb59f;}

/*===== Specific Page (pemesanan.html) =====*/
.fill-form {
	background: white;
	border-radius: 10px;
	padding: 20px;
}
.checkout-description {
	border: 1px solid #40322f;
}
.checkout-img img {
	width: 100%;
}

/*===== Footer =====*/
.footer {
	background: #55423d;
	color: white;
}
.footer a {
	color: #f2f2f2;
	text-decoration: none;
}
.footer a:hover {
	color: white;
	text-decoration: underline;
}
.copyright-brand {
	background: #3f312e;
	color: white;
}

/*===== Responsive =====*/
@media only screen and (max-width: 1024px) {
	.nav-content {width: 100%; display: none;}
	.nav-content li {
		text-align: left !important; 
		display: block;
	}

	.right-nav {padding: 10px 0px 10px 0px;}
	.right-nav a li {
		margin-top: 10px;
		cursor: pointer;
		text-decoration: none;
	}

	.right-nav a li:hover {background: #40322f; color: white;}
	.active {background: transparent; color: white !important;}
	.responsive {display: block; float: right;}