* {
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
	scroll-behavior: smooth;
}

/*===== Bakery Font =====*/
@font-face {
	font-family: 'Bakery';
	src: url('../assets/fonts/bakery.ttf') format('truetype');
}

/*===== Navigasi =====*/
.navigasi {
	background: #55423d;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	z-index: 3;
}
.navigasi a {
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

.left-nav a {font-family: 'Bakery'; font-size: 30px;}
.inner-nav {padding: 20px;}
.active {background: #ffc0ad;color: black !important;}

.left-nav {width: 50%;}
.right-nav {width: 50%;}
.right-nav a {float: right;}

.nav-content {display: block;}
.navigasi a:hover {
	background: #ffc0ad;
	color: black !important;
}
.nav-responsive {
	padding-bottom: 10px;
	width: 100%;
	display: none;
}
.nav-responsive a {
	display: block;
	padding: 20px;
}

.responsive {display: none; float: right;}
.dump-nav {padding: 30px;}

/*===== Specific Page (index.html) =====*/
.main-part {
	background: url('../assets/img/bgMain.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: white;
}
.dim-bg {
	background: rgba(0,0,0,0.5);
	position: absolute;
	height: 100vh;
	width: 100%;
}
.main-text {z-index: 2;}

/*===== All Pages =====*/
.light-theme-part {background: #ffc0ad;}
.dark-theme-part {background: #ffb59f;}

.pg-title {
	font-size: 25px;
	border-bottom: 2px solid black;
	text-align: center;
	padding-bottom: 5px;
	width: 180px;
}
.card-box {
	background: white;
	border-radius: 10px;
	padding: 20px;
}
.card-img img {
	width: 100%;
	border-radius: 10px;
}

.p-left {width: 60%;}
.p-right {width: 40%; text-align: right;}

.star {color: orange;}

.arrow-button {
	background: #ffc0ad;
	border: 1px solid #55423d;
	border-radius: 50%;
	cursor: pointer;
	font-size: 30px;
	width: 50px;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 2%;
	right: -50%;
	transition: .4s;
}
.arrow-button:hover {background: #ffb59f;}

/*===== Specific Page (pemesanan.html) =====*/
.fill-form {
	background: white;
	border-radius: 10px;
	padding: 20px;
}

/*===== Footer =====*/
.footer {
	background: #55423d;
	color: white;
}
.footer a {
	color: #f2f2f2;
	text-decoration: none;
}
.footer a:hover {
	color: white;
	text-decoration: underline;
}
.copyright-brand {
	background: #3f312e;
	color: white;
}

/*===== Responsive =====*/
@media only screen and (max-width: 1024px) {
	.nav-content {display: none;}
	.responsive {display: block; float: right;}

	.active {
		background: none;
		color: white !important;
	}
}