* {
	margin: 0 auto;
	padding: 0;	
	box-sizing: border-box;
}

/*Flex*/
.flex {display: flex}
.al-center {align-items: center;}
.jt-center {justify-content: center;}

/*Text Align*/
.text-center {text-align: center;}

/*Padding*/
.p-t-10 {padding-top: 10px}
.p-t-11 {padding-top: 11px}
.p-t-12 {padding-top: 12px}
.p-t-13 {padding-top: 13px}
.p-t-14 {padding-top: 14px}
.p-t-15 {padding-top: 15px}
.p-t-16 {padding-top: 16px}
.p-t-17 {padding-top: 17px}
.p-t-18 {padding-top: 18px}
.p-t-19 {padding-top: 19px}
.p-t-20 {padding-top: 20px}

.p-b-10 {padding-bottom: 10px}
.p-b-11 {padding-bottom: 11px}
.p-b-12 {padding-bottom: 12px}
.p-b-13 {padding-bottom: 13px}
.p-b-14 {padding-bottom: 14px}
.p-b-15 {padding-bottom: 15px}
.p-b-16 {padding-bottom: 16px}
.p-b-17 {padding-bottom: 17px}
.p-b-18 {padding-bottom: 18px}
.p-b-19 {padding-bottom: 19px}
.p-b-20 {padding-bottom: 20px}

/*Font Size*/
.fs-10 {font-size: 10px}
.fs-11 {font-size: 11px}
.fs-12 {font-size: 12px}
.fs-13 {font-size: 13px}
.fs-14 {font-size: 14px}
.fs-15 {font-size: 15px}
.fs-16 {font-size: 16px}
.fs-17 {font-size: 17px}
.fs-18 {font-size: 18px}
.fs-19 {font-size: 19px}
.fs-20 {font-size: 20px}

/*Grid*/
.col-1 {width: 8.333333333333334%}
.col-2 {width: 16.666666666666668%}
.col-3 {width: 25%}
.col-4 {width: 33.333333333333336%}
.col-5 {width: 41.666666666666664%}
.col-6 {width: 50%}
.col-7 {width: 58.333333333333336%}
.col-8 {width: 66.66666666666667%}
.col-9 {width: 75%}
.col-10 {width: 83.33333333333333%}
.col-11 {width: 91.66666666666667%}
.col-12 {width: 100%}

div[class*="col"] {
	float: left;
	padding: 10px;
}

.row::after {
	content: "";
  	clear: both;
  	display: table;
}
.col-container {width: 70%;}
.col-container-fluid {width: 90%;}

/*Navigasi*/
.navigasi {
	background: green;
	position: fixed;
	width: 100%;
}

/*Main*/
.main-part {
	background: red;
	height: 100vh;
}

/*Web*/
.pg-title {
	font-size: 20px;
	text-align: center;
	padding-bottom: 20px;
}